body{
    font-family: 'Lobster', cursive;
    
}
h1{
    font-family: 'Poppins', sans-serif;
}
.salmon{
    color : salmon;
}

.violet-color{
    color : violet;
}
h3{
    font-size: 20px;
}
.flexible-container{
    display : flex;
    margin-bottom : 150px;
}
.half-width{
    width : 80%;
    padding-left: 4%;
}
.half-width img{
    width : 70%;
    padding-top: 1%;
    border-radius: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(155, 20, 43), tomato);
    padding : 10px 40px;
    border-radius: 40px;
    color : white;
    font-size: 700;
}
.top-banner{
    background-image: url(image/back.pic\ 1.jpg) ;
    border-radius: 50px;
}
.Passionate{
    background-image: url(image/back.pic\ 1.jpg) ;
    border-radius: 50px;

}
.img{
    clip-path: circle();
}
.experience-item{
    box-shadow: 10px 10px 20px gray ;
    width : 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    border-radius: 10px;
   
}
.begginer-experience{
    border : 7px 
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;

}
